@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Agence urbaine rabat-salé</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran&display=swap">
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/libs/js/main-js.js"></script>
    <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
    <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/assets/libs/js/dashboard-ecommerce.js"></script>
</head>
<body style="font-family: 'Catamaran', sans-serif; font-size:15px;background-color:#e9e9e9">
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="https://www.aurs.org.ma/fr/">
                    <img src="~/documentation/img/aurs.png" style="width: 16%;"> <h1 style="
                                    color: #09aacc;
                                    margin-left: 19%;
                                    margin-bottom: 0%;
                                    margin-top: -12%;
                                    font-size: inherit;
                                ">
                        Agence urbaine rabat-salé
                    </h1>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent" style="margin:30px">
                    @Html.Partial("~/Views/Shared/Disconnect.cshtml")
                </div>
                @Html.ActionLink("AURS", "Index", "Home")
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>

        </div>

    </div>

    <div class="nav-left-sidebar sidebar-dark" style="margin-top:50px">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="index.html" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-users"></i>Gestion des utilisateurs<span class="badge badge-success">6</span></a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="module.html" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-clone"></i>Gestion des modules<span class="badge badge-success"></span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="sousmodule.html" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class=" fas fa-folder-open"></i>Gestion des sous modules<span class="badge badge-success"></span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="taches.html" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-qrcode"></i>Gestion des Tâches<span class="badge badge-success"></span></a>
                        </li>
                    </ul>
                </div>

                Menu
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Agence urbaine rabat-salé</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
