@model GestionnaireUtilisateurs.Models.MultiModeles
@using Microsoft.AspNet.Identity;
<style>
    .MyNotifation {
    }

        .MyNotifation:hover {
        }
</style>

<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <a class="navbar-brand" href="https://www.aurs.org.ma/fr/" target="_blank">
        <img src="~/documentation/img/aurs.png" style="width: 65px;" />
        <h3 style="color: #09aacc;font-size: inherit;margin-left:75px;margin-top:-50px ;margin-bottom:10px">
            Agence urbaine rabat-salé
        </h3>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown notification">
                    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-bell"></i>
                        @if (ViewBag.NotifsCount == 0)
                        {
                            <span class="fa fa-circle" style="color:forestgreen; width:30px;height:30px;text-align-last:center;top:0px;right:0px">
                            </span>
                        }
                        else
                        {
                            <span class="indicator" style="color:White; width:30px;height:30px;text-align-last:center;top:0px;right:0px">
                                @ViewBag.NotifsCount
                            </span>
                        }

                    </a>
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notifications</div>
                            <div class="notification-list">
                                <div class="list-group" style="padding:4px" id="listNotifs">
                                    @foreach (var notif in Model.notifications)
                                    {
                                        using (Html.BeginForm("NotificationClick", "Home", FormMethod.Get))
                                        {
                                            <div style="margin-bottom:3px;margin-left:2px;margin-left:2px;">
                                                @if (notif.Clicked)
                                                {
                                                    <div style="margin-bottom:1px;cursor:pointer" class="notification-title" onclick="this.closest('form').submit();">
                                                        <input type="hidden" name="NotifId" value="@notif.Id" />
                                                        <input type="hidden" name="Lien" value="@Request.Url.PathAndQuery" />
                                                        <p>@notif.TypeNotif.Text</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="margin-bottom:1px;cursor:pointer;color:antiquewhite;background-color:#747474;"
                                                         class="notification-title" onclick="this.closest('form').submit();">
                                                        <input type="hidden" name="NotifId" value="@notif.Id" />
                                                        <input type="hidden" name="Lien" value="@Request.Url.PathAndQuery" />
                                                        <p>@notif.TypeNotif.Text</p>
                                                    </div>
                                                }
                                                <div class="notification-date"><label>@notif.heure_date</label></div>
                                                <br />
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="list-footer">

                                @using (Ajax.BeginForm("GetAllNotifications", "Home"
                                    , new AjaxOptions { HttpMethod = "Post", OnFailure = "OnFailure()", OnSuccess = "OnSuccess(data)" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Afficher tous les notifications" 
                                           style="color:white;border:hidden;background-color:#ffffff00;width:100%;height:100%;cursor:pointer" />
                                }
                            </div>
                        </li>
                    </ul>
                </li>
            }

            
            <!-- Partial view login -->
            @Html.Partial("_LoginPartial")
        </ul>
        <script>
            function OnFailure() {
                alert("Failure");
            }

            function OnSuccess(data) {
                alert("Success\n" + JSON.stringify( data.notifications));
            }

        </script>
    </div>
</nav>