@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Créer un compte d'utilisateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12" style=" margin-left: auto; margin-right: auto;">
    <div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
        <div class="card-body">
            @using (Html.BeginForm("Test", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="card-body">

                    <h4> <span class="badge-dot badge-info"></span>   Créer un compte d'utilisateur</h4>
                    <hr />
                </div>
                <div class="form-group">
                    <label for="inputText12">Type d'utilisateur :</label>
                    <br>
                    @*@Html.RadioButton("typeUtilisateur", "Morale", new { @class = "custom-control-input" })
                        @Html.RadioButton("typeUtilisateur", "Physique", new { @class = "custom-control-input" })*@
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="typeUtilisateur" class="custom-control-input" value="Morale">
                        <span class="custom-control-label">Morale</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="typeUtilisateur" class="custom-control-input" checked="" value="Physique">
                        <span class="custom-control-label">Physique</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input id="nameNom" type="text" name="Nom" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Prenom</label>
                            <input id="namePrenom" type="text" name="Prenom" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name" style="  margin-left: 89%">الاسم الشخصي</label>
                            <input id="namePrenomAr" type="text" name="PrenomAr" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name" style="  margin-left: 91%">الاسم العائلي</label>
                            <input id="nameNomAr" type="text" name="NomAr" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">CIN</label>
                            <input id="nameCIN" type="text" name="CIN" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">Ville</label>
                            <input id="nameVille" type="text" name="Ville" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inputText12">Sexe :</label>
                            <br>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="Sexe" class="custom-control-input" id="1Sexe" value="Homme">
                                <span class="custom-control-label">Homme</span>
                            </label>
                            <label class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="Sexe" class="custom-control-input" id="2Sexe" value="Femme">
                                <span class="custom-control-label">Femme</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">Email</label>
                            <input id="nameEmail" type="email" name="Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">N°Telephone</label>
                            <input id="namePhoneNumber" type="tel" name="PhoneNumber" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">Mot de passe</label>
                            <input id="namePassword" type="password" name="Password" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">Confirmer mot de passe</label>
                            <input id="nameConfirmPassword" type="password" name="ConfirmPassword" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="StatutId">Statut</label>
                            @*@Html.DropDownList("StatutId" ,null,"> -- Statut -- <", htmlAttributes: new { @class = "form-control" })*@
                            <select class="form-control form-control-sm" name="StatutId" id="StatutId">
                                <option value="">Statut</option>
                                @foreach (var item in Model.statuts)
                                {
                                    <option value="@item.StatutId">@item.StatutName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br />

                            <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#BackdropAddStatut"><i class=" fas fa-plus">  </i>    </button>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">

                            <a href="@Url.Action("Index", "Home")">Retour a la liste</a>
                        </div>
                    </div>
                    <div class="col-lg-6" style="text-align: right;">
                        <div class="form-group">

                            <button type="submit" class="btn btn-sm" style="background-color:#09aacc ; color:white;">
                                <i class=" fas fa-user-plus">  </i>&nbsp;&nbsp;&nbsp;     Créer un compte
                            </button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Modal
    {

    @Html.Action("AddStatutPartial", "Home")
}

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#StatutId").chosen({
                disable_search: false,
                create_option: true,
                persistent_create_option: true,
                skip_no_results: true,
                placeholder_text_single: "-------- Indice --------",
                no_results_text: "Aucun résultat ne correspond"
            });
        });

    </script>
}