
@{
    ViewBag.Title = "Contacter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-horizontal">
        <div class="form-group">
            <div>ViewBag.User  @ViewBag.User</div>
        </div>
        <div class="form-group">
            <div>ViewBag.Tache  @ViewBag.Tache</div>
        </div>
        <div class="form-group">
            <div>ViewBag.Read  @ViewBag.Read</div>
        </div>
        <div class="form-group">
            <div>ViewBag.Create  @ViewBag.Create</div>
        </div>
        <div class="form-group">
            <div>ViewBag.Update  @ViewBag.Update</div>
        </div>
        <div class="form-group">
            <div>ViewBag.Delete  @ViewBag.Delete</div>
        </div>
        <div class="form-group">
            <div>ViewBag.utilisateur  @ViewBag.utilisateur</div>
        </div>
    </div>


