
@{
    ViewBag.Title = "Contacter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <div class="form-group">
        <div>ViewBag.User  @ViewBag.User</div>
    </div>
    <div class="form-group">
        <div>ViewBag.Tache  @ViewBag.Tache</div>
    </div>
    <div class="form-group">
        <div>ViewBag.Cree  @ViewBag.Cree</div>
    </div>
    <div class="form-group">
        <div>ViewBag.Lire  @ViewBag.Lire</div>
    </div>
    <div class="form-group">
        <div>ViewBag.Modifier  @ViewBag.Modifier</div>
    </div>
    <div class="form-group">
        <div>ViewBag.Supprimer  @ViewBag.Supprimer</div>
    </div>
</div>


