@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Suppression D'une Module";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}



<div class="row">
    <div class="col-md-6" style=" margin-left: auto; margin-right: auto;">
        <div class="card unnamedClass">
            <div class="card-body">
                <h4> <span class="badge-dot badge-info"></span>  Suppression d'une modules</h4>
                <hr />
                <h3>Vous etes sur de supprimer <span class="text-info">@ViewBag.ModuleName</span> ?</h3>
                <div>
                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Supprimer" class="btn btn-default btn-danger" /> |
                            @Html.ActionLink("Back to List", "module")
                        </div>
                    }

                </div>
            </div>
            <center><label style="font-weight: bold;font-style:oblique"><u>Utilisations </u></label></center><br />
            <label style="font-style:oblique">Applicaion Module</label>
            <ul>
                @foreach (var appModule in Model.applicationModules)
                {
                    <li>@appModule.description</li>
                }
            </ul>
            <br />
            <label style="font-style:oblique">Sous Modules</label>
            <ul>
                @foreach (var sousModule in Model.sousModules)
                {
                    <li>@sousModule.SousModuleName</li>
                }
            </ul>
        </div>
    </div>
</div>

