@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Supprimer un utilisateur";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}

    <div class="row">
        <div class="col-md-6" style=" margin-left: auto; margin-right: auto;">
            <div class="card unnamedClass">
                <div class="card-body">
                    <h4> <span class="badge-dot badge-info"></span>  Suppression d'un utilisateur</h4>
                    <hr />
                    <h3>Vous etes sur de supprimer l'utilisateur <span class="text-info">@ViewBag.utilisateur</span> ?</h3><br />
                    <h2>de statut <span class="text-info">@ViewBag.statutName</span></h2>
                    <div>
                        <hr />

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Supprimer" class="btn btn-default btn-danger" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
                <center><label style="font-weight: bold;font-style:oblique"><u>Utilisations </u></label></center><br />
                <label style="font-style:oblique">User Role</label>
                <ul>
                    @foreach (var userRole in Model.aspNetUserRoles)
                    {
                        <li>@userRole.AspNetUsers.Email +  @userRole.AspNetRoles.Name</li>
                    }
                </ul>
                <br />
            </div>
        </div>
    </div>

