@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Supprimer une Statut";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}

<div class="row">
    <div class="col-md-6" style=" margin-left: auto; margin-right: auto;">
        <div class="card unnamedClass">
            <div class="card-body">
                <h4> <span class="badge-dot badge-info"></span>  Suppression d'une statut</h4>
                <hr />
                <h3>Vous etes sur de supprimer <span class="text-info">@ViewBag.statutName</span> ?</h3>
                <div>
                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Supprimer" class="btn btn-default btn-danger" /> |
                            @Html.ActionLink("Back to List", "IndexStatut")
                        </div>
                    }
                </div>
            </div>
            <center><label style="font-weight: bold;font-style:oblique"><u>Utilisations </u></label></center><br />
            <label style="font-style:oblique">Statut Role</label>
            <ul>
                @foreach (var statutRole in Model.statutRoles)
                {
                    <li>@statutRole.Statuts.StatutName +  @statutRole.AspNetRoles.Name</li>
                }
            </ul>
            <br />
            <label style="font-style:oblique">Utilisateurs</label>
            @if (Model.aspNetUsers.Count() != 0)
            {
                <label style="font-style:oblique">les utilisateurs suivants seront supprimés</label>
                <ul>
                    @foreach (var user in Model.aspNetUsers)
                    {
                        if (user.AspNetUserRoles.Where(o => o.AspNetRoles.Name == "Administrator").Count() != 0)
                        {
                            <li><span style="color:red"> @user.Email </span></li>
                        }
                        else
                        {
                            <li>@user.Email </li>
                        }

                    }
                </ul>
            }
            else
            {
                <label style="color:forestgreen">AUCUN UTILISATION</label>
            }
        </div>
    </div>
</div>

