@model GestionnaireUtilisateurs.Models.MultiModeles


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body">
        <div class="card-body border-top">
            <div class="row" style="width:100%">
                <a href="@Url.Action("AddUser", "Home")" class="btn btn" style="background-color:#09aacc ; color:white;">
                    <i class="fa fa-plus"> Ajouter  </i>
                </a>
                @using (Html.BeginForm("EditUser", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IdHidden" name="id" value="-1">
                    <button disabled id="buttonModifie" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;margin-left:10px;margin-right:10px;">
                        <i class="fa fa-edit"> Modifier  </i>
                    </button>

                }
                @using (Html.BeginForm("DeleteUser", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IdHidden2" name="id" value="-1">
                    <button disabled id="buttonDelete" type="button" class="btn btn" style="background-color:#09aacc ; color:white;">
                        <i class="fa fa-trash"> Supprimer  </i>
                    </button>
                }
                @using (Html.BeginForm("UserTache", "Home", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IdHidden3" name="id" value="-1">
                    <button disabled id="ManagementSelected" type="submit" class="btn btn" style="background-color:#09aacc ; color:white; margin-left: 63%;">
                        <i class="fa fa-sliders-h"> Gestion des roles   </i>
                    </button>
                }
            </div>
        </div>
        <table data-tablesaw-mode="columntoggle" class="table table-bordered first" id="tableFilter">
            <thead>
                <tr>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Nom</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Prenom</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Email</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Ville</th>

                </tr>

            </thead>
            <tbody id="tabletargetted">
                @foreach (var item in Model.aspNetUsers)
                {
                    <tr id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ville)
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>



@section Scripts{
    <script src="~/Content/TableFilter/ReapetedFilter.js"></script>
}

