@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .indexusers {
        text-align: left;
        background-color: white;
        width: 100%;
        padding-top: 15px;
        box-shadow: 0 17px 41px -21px black;
        border-top: 5px solid #09aacc
    }
</style>

<div class="tab-content indexusers" style="margin-bottom:10px">
    <div class="card-body">
        <div class="card-body border-top">
            <div class="row">
                <div class="col-md-2">
                    <a href="@Url.Action("AddUser", "Home")" class="btn btn" style="background-color:#09aacc ; color:white;">
                        <i class="fa fa-user-plus"> Ajouter  </i>
                    </a>
                </div>
                <div class="col-md-2">
                    @using (Html.BeginForm("EditUser", "Home", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="IdHidden" name="id" value="-1">
                        <button disabled id="buttonModifie" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;">
                            <i class="fa fa-edit"> Modifier  </i>
                        </button>

                    }
                </div>
                <div class="col-md-2">
                    @using (Html.BeginForm("DeleteUser", "Home", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="IdHidden2" name="id" value="-1">
                        <button disabled id="buttonDelete" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;">
                            <i class="fa fa-user-times"> Supprimer  </i>
                        </button>
                    }
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    @using (Html.BeginForm("UserTache", "Home", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="IdHidden3" name="id" value="-1">
                        <button disabled id="ManagementSelected" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;">
                            <i class="fa fa-user-secret"> Gestion des roles   </i>
                        </button>
                    }
                </div>
            </div>
        </div>
        @*</div>
            </div>



            <div class="tab-content indexusers">
                <div class="card-body">*@
        <table data-tablesaw-mode="columntoggle" class="table table-bordered first" id="tableFilter">
            <thead>
                <tr>
                    <th data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Nom</th>
                    <th data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Prenom</th>
                    <th data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Email</th>
                    <th data-tablesaw-sortable-col data-tablesaw-priority="1" style="background-color:#d9edf7;">Ville</th>
                </tr>
            </thead>
            <tbody id="tabletargetted">
                @foreach (var item in Model.aspNetUsers)
                {
                    <tr id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ville)
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>



@section Scripts{
    <script src="~/Content/TableFilter/ReapetedFilter.js"></script>
    @*<script src="~/Content/Demandes.js"></script>
    <script data-config="">

        var filtersConfig = {
            base_path: 'tablefilter/',
            auto_filter: {
                delay: 120 //milliseconds
            },
            filters_row_index: 1,
            state: false,
            alternate_rows: false,
            rows_counter: false,
            btn_reset: false,
            status_bar: false,
            highlight_keywords: true,
            msg_filter: 'Filtering...'
        };
        var tf = new TableFilter('tableFilter', filtersConfig);
        tf.init();
    </script>*@
}

