@model IEnumerable<GestionnaireUtilisateurs.Models.Module>


@{
    ViewBag.Title = "module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-main-wrapper">
    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">

                <div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
                    <div class="card-body">
                        <h4> <span class="badge-dot badge-info"></span>   Gestion des modules</h4>
                        <div class="card-body border-top">
                            <div class="row">

                                @using (Html.BeginForm("tester", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn" style="background-color:#09aacc ; color:white;">
                                        <i class="fa fa-plus"> Ajouter  </i>
                                    </button>
                                    <input type="hidden" id='ModuleIdHidden' name="CodeModule">
                                    <button type="submit" class="btn btn" style="background-color:#09aacc ; color:white;margin-left:10px;margin-right:10px">
                                        <i class="fa fa-edit"> Modifier  </i>
                                    </button>
                                    <button type="button" class="btn btn" style="background-color:#09aacc ; color:white;">
                                        <i class="fa fa-trash"> Supprimer  </i>
                                    </button>

                                }

                            </div>
                        </div>

                        <table data-tablesaw-mode="columntoggle" class="table table-bordered first" id="tableFilter">
                            <thead>
                                <tr>

                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                                        @Html.DisplayNameFor(model => model.ModuleName)
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                                        @Html.DisplayNameFor(model => model.ModuleDescription)
                                    </th>
                                </tr>

                            </thead>
                            <tbody id="tabletargetted">
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.ModuleId">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModuleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModuleDescription)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-config="">
    var filtersConfig = {
        base_path: 'tablefilter/',
        auto_filter: {
            delay: 120 //milliseconds
        },
        filters_row_index: 1,
        state: true,
        alternate_rows: true,
        rows_counter: false,
        btn_reset: false,
        status_bar: false,
        msg_filter: 'Filtering...'
    };
    var tf = new TableFilter('tableFilter', filtersConfig);
    tf.init();
</script>
<script>
    var table = document.getElementById('tabletargetted');

    var rows = table.rows;
    for (var i = 0; i < rows.length; i++) {
        rows[i].onclick = function () {
            for (var j = 0; j < rows.length; j++) {
                table.rows[j].style.backgroundColor = table.rows[j].getAttribute('backclr');
                table.rows[j].style.color = table.rows[j].getAttribute('clr');
                table.rows[j].clicked = false;
            }
            var id = this.id;
            document.getElementById(id).style.backgroundColor = "#337ab7";
            document.getElementById(id).style.borderColor = "#2e6da4";
            document.getElementById(id).style.color = "#fff";
            document.getElementById(id).clicked = true;
            document.getElementById('ModuleIdHidden').value = id;
        }
    };
</script>