@model GestionnaireUtilisateurs.Models.MultiModeles


@{
    ViewBag.Title = "module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body">
        <h4> <span class="badge-dot badge-info"></span>   Gestion des modules</h4>
        <div class="card-body border-top">
            <div class="row">


                <a href="@Url.Action("AddModule", "Home")" class="btn btn" style="background-color:#09aacc ; color:white;">
                    <i class="fa fa-plus"> Ajouter  </i>
                </a>
                @using (Html.BeginForm("EditModule", "Home", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IdHidden" name="id" value="-1">
                    <button disabled id="buttonModifie" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;margin-left:10px;margin-right:10px;">
                        <i class="fa fa-edit"> Modifier  </i>
                    </button>

                }
                @using (Html.BeginForm("DeleteModule", "Home", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IdHidden2" name="id" value="-1">
                    <button disabled id="buttonDelete" type="submit" class="btn btn" style="background-color:#09aacc ; color:white;">
                        <i class="fa fa-trash"> Supprimer  </i>
                    </button>
                }

            </div>
        </div>

        <table data-tablesaw-mode="columntoggle" class="table table-bordered first" id="tableFilter">
            <thead>
                <tr>

                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                        Nom du Module
                    </th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                        Description du Module
                    </th>
                </tr>

            </thead>
            <tbody id="tabletargetted">
                @foreach (var item in Model.modules)
                {
                    <tr id="@item.ModuleId">
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleDescription)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Content/TableFilter/ReapetedFilter.js"></script>
}