@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Taches des Utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-main-wrapper" style="font-family: 'Catamaran', sans-serif; font-size:15px;background-color:#e9e9e9">

    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">

                <div class="tab-content" style="text-align:center; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
                    <div class="card-body">

                        <span class="mr-2"> <span class="badge-dot badge-info"></span>Nom : Utilisateur  1 &nbsp;&nbsp;</span>
                        <span class="mr-2"> <span class="badge-dot badge-info"></span>Prenom : Utilisateur  1 &nbsp;&nbsp;</span>
                        <span class="mr-2"> <span class="badge-dot badge-info"></span>Email : Utilisateur1@Email.com &nbsp;&nbsp;</span>
                        <span class="mr-2"> <span class="badge-dot badge-info"></span>Statut :Statut</span>

                    </div>
                </div>
                <br /> <br />
                <div class="row">
                    <div class="col-lg-12" style=" margin-left: auto; margin-right: auto;">
                        <div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    <div class="card-body">

                                        <h4> <span class="badge-dot badge-info"></span>  Gestion des roles</h4>
                                        <hr />
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">Utilisateur</label>
                                                @*@Html.DropDownList("FruitId", ViewBag.Users as SelectList
                                                    , "--- Sélectionner un Utilisateur ---", new { @id = "ddlFruits" }
                                                    )
                                                     @Html.Hidden("FruitName", null, new { @id = "hfFruitName" })*@
                                                @Html.DropDownListFor(model => model.aspNetUsers, ViewBag.Users as SelectList
                                                    , "--- Sélectionner un Utilisateur ---", new { @id = "UserSelected", @class = "form-control form-control-sm" }
                                                    )
                                                @*<select class="form-control form-control-sm" id="">
                                                        <option value="">--- Sélectionner un Utilisateur ---</option>
                                                        @foreach (var item in Model.aspNetUsers)
                                                        {
                                                            <option value="@item.Id">@item.NomAr</option>
                                                        }
                                                    </select>*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <br />
                                                <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#staticBackdrop3"><i class=" fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">Module</label>
                                                @*@Html.DropDownListFor(model => model.modules, ViewBag.modules as SelectList
                                                    , "--- Sélectionner un module ---", new { @id = "moduleSelected", @class = "form-control form-control-sm" }
                                                    )*@
                                                <select class="form-control form-control-sm" name="ListOfModules" id="ListOfModulesId">
                                                    <option value=-1>--- Sélectionner un module ---</option>
                                                    @foreach (var item in Model.modules)
                                                    {
                                                        <option value="@item.ModuleId">@item.ModuleName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <br />
                                                <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#staticBackdrop"><i class=" fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">Sous module</label>
                                                @*@Html.DropDownListFor(model => model.sousModules, ViewBag.sousmodules as SelectList
                                                    , "--- Sélectionner un sous module ---", new { @id = "submoduleSelected", @class = "form-control form-control-sm" }
                                                    )*@
                                                <select class="form-control form-control-sm" name="submoduleSelected" id="submoduleSelectedId">
                                                    <option value=-11>--- Sélectionner un Sous module ---</option>
                                                    @foreach (var item in Model.sousModules)
                                                    {
                                                        <option value="@item.SousModuleId" id="@item.ModuleId" style="display:none">@item.SousModuleName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <br />
                                                <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#staticBackdrop1"><i class=" fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">

                                                <label for="name">tâche</label>
                                                @*@Html.DropDownListFor(model => model.aspNetRoles, ViewBag.taches as SelectList
                                                    , "--- Sélectionner une tâche ---", new { @id = "tache_selected", @class = "form-control form-control-sm" }
                                                    )*@
                                                <select class="form-control form-control-sm" name="tacheSelected" id="tacheSelectedId">
                                                    <option value=-11>--- Sélectionner une tâche ---</option>
                                                    @foreach (var item in Model.aspNetRoles)
                                                    {
                                                        <option value="@item.Id" id="@item.SouModuleId" style="display:none">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <br />

                                                <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#staticBackdrop2"><i class=" fas fa-plus">  </i>    </button>




                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="text-align: right;">
                                        <div class="form-group">

                                            <button id="btnAdd" type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i>&nbsp;&nbsp;&nbsp;     Ajouter au tableau </button>

                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12" style="margin-left: -1%;">
                                        <div class="card">
                                            <h5 class="card-header">Liste des Tâches</h5>
                                            <div class="card-body">
                                                <table class="table table-hover" id="table_roleUsers">
                                                    <thead>
                                                        <tr>

                                                            <th>
                                                                @Html.DisplayNameFor(model => Model.aspNetUsers)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => Model.modules)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => Model.sousModules)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => Model.aspNetRoles)
                                                            </th>
                                                            <th scope="col">Consulter</th>
                                                            <th scope="col">Crée</th>
                                                            <th scope="col">Modifier</th>
                                                            <th scope="col">Supprimer</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*@foreach (var item in Model.aspNetUserRoles)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AspNetRoles.SousModule.Module.ModuleName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AspNetRoles.SousModule.SousModuleName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.AspNetRoles.Name)
                                                                </td>
                                                                <td>
                                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(modelitem => item.Read.Value, new { @class = "custom-control-input" })
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(modelitem => item.Create.Value, new { @class = "custom-control-input" })
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(modelitem => item.Update.Value, new { @class = "custom-control-input" })
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(modelitem => item.Delete.Value, new { @class = "custom-control-input" })
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        }*@

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.ActionLink("Retour a la liste", "Index", "Home")
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="text-align: right;">
                                            <div class="form-group">
                                                <button id="btnSubmit">Submit</button>
                                                <button type="submit" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i>&nbsp;&nbsp;&nbsp;     Enregistrer </button>

                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ajouter un Module</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nom du module</label>

                        <input id="name" type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Description du module</label>

                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i> &nbsp;&nbsp;&nbsp; Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ajouter un sous module</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nom du sous module</label>

                        <input id="name1" type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Description du sous module</label>

                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i> &nbsp;&nbsp;&nbsp; Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ajouter une tâche</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nom du tâche</label>

                        <input id="name2" type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Description du tâche</label>

                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i> &nbsp;&nbsp;&nbsp; Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script type="text/javascript">
        function returnLab(checkboxid,Name) {
            var labe = document.createElement("LABEL");
            labe.className = "be-checkbox custom-control custom-checkbox";

            var spanne = document.createElement("SPAN");
            spanne.className = "custom-control-label";


            var chkbx = document.createElement("INPUT");
            chkbx.setAttribute("checked","checked");
            chkbx.className = "custom-control-input";
            chkbx.id = checkboxid;
            chkbx.setAttribute("name", Name);
            chkbx.setAttribute("type", "checkbox");
            chkbx.value = true;

            var inputhidden = document.createElement("INPUT");
            inputhidden.setAttribute("name", Name);
            inputhidden.setAttribute("type", "hidden");
            inputhidden.value = false;

            labe.appendChild(chkbx);
            labe.appendChild(inputhidden);
            labe.appendChild(spanne);

            return labe;
        }

        
    function getAllData() {
        var data = [];
        $('tbody tr').each(function () {
            var User = $(this).find('#UserTached').val();
            var Tache = $(this).find('#TacheUserAttached').val();
            var lire = $(this).find('#item_Read_Value').val();
            var ecrire = $(this).find('#item_Create_Value').val();
            var modifier = $(this).find('#item_Update_Value').val();
            var supprimer = $(this).find('#item_Delete_Value').val();
            var alldata = {
                'UserId': User,
                'RoleId': Tache,
                'Read': lire,
                'Create': ecrire,
                'Update': modifier,
                'Delete': supprimer
            }
            data.push(alldata);
        });
        console.log(data);
        return data;
    }

        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                var data = JSON.stringify(getAllData());
                $.ajax({
                    url: '/Home/SaveData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ 'getepassdata': data }),
                    success: function () {
                        alert("Data Added Successfully"+success);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
            });

            $("body").on("click", "#btnAdd", function () {

                //Get the reference of the Table's TBODY element.
                var tBody = $("#table_roleUsers > TBODY")[0];

                if ($("#UserSelected option:selected").text().includes("--- Sélectionner") == true
                    || $("#tache_selected option:selected").text().includes("--- Sélectionner") == true) {
                    alert("toutes les champs obligatoires !");
                }
                else {
                    var userrid = $("#UserSelected option:selected").val().trim();
                    var teccherid = $("#tacheSelectedId option:selected").val().trim();
                    var rowidnew = userrid + "," + teccherid;
                    rowidnew = rowidnew.replace("-", "");
                    if ($("#"+rowidnew).length) {
                        alert("deja exists sur le tableau");
                    } else {

                        var row = tBody.insertRow(-1);
                        row.setAttribute("id", userrid + "," + teccherid);

                        var cell = $(row.insertCell(-1));
                        cell.html($("#UserSelected option:selected").text().trim());
                        cell.attr("name", "UserTached");

                        cell = $(row.insertCell(-1));
                        cell.html($("#ListOfModulesId option:selected").text().trim());

                        cell = $(row.insertCell(-1));
                        cell.html($("#submoduleSelectedId option:selected").text().trim());

                        cell = $(row.insertCell(-1));
                        cell.html($("#tacheSelectedId option:selected").text().trim());
                        cell.attr("name", "TacheUserAttached");


                        cell = $(row.insertCell(-1)); cell.append(returnLab("item_Read_Value,"+rowidnew, "item.Read.Value"));
                        cell = $(row.insertCell(-1)); cell.append(returnLab("item_Create_Value,"+rowidnew, "item.Create.Value"));
                        cell = $(row.insertCell(-1)); cell.append(returnLab("item_Update_Value,"+rowidnew, "item.Update.Value"));
                        cell = $(row.insertCell(-1)); cell.append(returnLab("item_Delete_Value,"+rowidnew, "item.Delete.Value"));


                    }

                }

            });

            $('#ListOfModulesId').change(function () {

                var e = document.getElementById("ListOfModulesId");
                var choix = e.options[e.selectedIndex].value;
                var Modulee = $(this).val();
                var com = $("#submoduleSelectedId > option");
                $("#submoduleSelectedId")[0].selectedIndex = 0;
                $("#tacheSelectedId")[0].selectedIndex = 0;
                var a = com[0].getAttribute("id");
                for (var i = 0; i < com.length; i++) {
                    if (com[i].getAttribute("id") == Modulee || a == choix || a == -1) {
                        com[i].style.display = "block";
                    }
                    else {
                        com[i].style.display = "none";
                    }
                }
                $('#submoduleSelectedId').trigger("liszt:updated");

            });
            $('#submoduleSelectedId').change(function () {

                var e = document.getElementById("submoduleSelectedId");
                var choix = e.options[e.selectedIndex].value;
                var SubModulee = $(this).val();
                var com = $("#tacheSelectedId > option");
                $("#tacheSelectedId")[0].selectedIndex = 0;
                var a = com[0].getAttribute("id");
                for (var i = 0; i < com.length; i++) {
                    if (com[i].getAttribute("id") == SubModulee || a == choix || a == -1) {
                        com[i].style.display = "block";
                    }
                    else {
                        com[i].style.display = "none";
                    }
                }
                $('#tacheSelectedId').trigger("liszt:updated");

            });

        });
    </script>
}