@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.IdSelected = "UserId";
    ViewBag.IdSelected1 = ViewBag.UserId;
    ViewBag.Title = ViewBag.Nom + "  " + ViewBag.Prenom;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-content" style="text-align:center; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body">

        <span class="mr-2"> <span class="badge-dot badge-info"></span>Nom : @ViewBag.Nom &nbsp;&nbsp;</span>
        <span class="mr-2"> <span class="badge-dot badge-info"></span>Prenom : @ViewBag.Prenom &nbsp;&nbsp;</span>
        <span class="mr-2"> <span class="badge-dot badge-info"></span>Email : @ViewBag.Email &nbsp;&nbsp;</span>
        <span class="mr-2"> <span class="badge-dot badge-info"></span>Statut : @ViewBag.StatusName</span>

    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-12" style=" margin-left: auto; margin-right: auto;">
        <div class="tab-content" style="text-align:left; background-color: white; width: 100%; padding-top:15px; box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
            <div class="card-body">
                <div class="card-body">
                    <h4> <span class="badge-dot badge-info"></span>  Gestion des roles</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Module</label>
                            <select class="form-control form-control-sm" name="ListOfModules" id="ListOfModulesId">
                                <option value=-1>--- Sélectionner un module ---</option>
                                @foreach (var item in Model.modules)
                                {
                                    <option value="@item.ModuleId">@item.ModuleName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#BackdropAddModule"><i class=" fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Sous module</label>
                            <select class="form-control form-control-sm" name="submoduleSelected" id="submoduleSelectedId">
                                <option value=-11>--- Sélectionner un Sous module ---</option>
                                @foreach (var item in Model.sousModules)
                                {
                                    <option value="@item.SousModuleId" name="@item.ModuleId" style="display:none">@item.SousModuleName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#BackdropAddSubModule"><i class=" fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label for="name">tâche</label>
                            <select class="form-control form-control-sm" name="tacheSelected" id="tacheSelectedId">
                                <option value=-111>--- Sélectionner une tâche ---</option>
                                @foreach (var item in Model.aspNetRoles)
                                {
                                    <option value="@item.Id" name="@item.SouModuleId" style="display:none">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br />

                            <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;" data-toggle="modal" data-target="#BackdropAddTache"><i class=" fas fa-plus">  </i>    </button>




                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: right;">
                    <div class="form-group">

                        <button id="btnAdd" type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;">
                            <i class=" fas fa-plus">  </i>
                            &nbsp;&nbsp;&nbsp;     Ajouter au tableau
                        </button>

                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12" style="margin-left: -1%;">
                        <div class="card">
                            <h5 class="card-header">Liste des Tâches</h5>
                            <div class="card-body">
                                <table class="table table-hover" id="table_roleTargetted">
                                    <thead>
                                        <tr>

                                            <th>
                                                @Html.DisplayNameFor(model => Model.modules)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => Model.sousModules)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => Model.aspNetRoles)
                                            </th>
                                            <th scope="col">Consulter</th>
                                            <th scope="col">Crée</th>
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody name="tableRoles">

                                        @foreach (var item in Model.aspNetUserRoles)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AspNetRoles.SousModule.Module.ModuleName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AspNetRoles.SousModule.SousModuleName)
                                                </td>
                                                <td>
                                                    @Html.Hidden("RoleId", item.RoleId, new { @id = item.RoleId })
                                                    @Html.Hidden("UserId", item.UserId, new { @id = "UserId_" + item.RoleId })
                                                    @Html.DisplayFor(m => item.AspNetRoles.Name, item.RoleId)
                                                </td>
                                                <td>
                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(m => item.Read, new { @class = "custom-control-input", Name = "Lire", @id = "Lire_" + item.RoleId, @onclick = "LireCheckBox(this,\"" + item.RoleId + "\")" })
                                                        @Html.Hidden("Read", item.Read, new { @id = "Read_" + item.RoleId })
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(m => item.Create, new { @class = "custom-control-input", Name = "Cree", @id = "Cree_" + item.RoleId, @onclick = "cudCheckBox(this,\"" + item.RoleId + "\",\"Create_\")" })
                                                        @Html.Hidden("Create", item.Create, new { @id = "Create_" + item.RoleId })
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(m => item.Update, new { @class = "custom-control-input", Name = "Modifier", @id = "Modifier_" + item.RoleId, @onclick = "cudCheckBox(this,\"" + item.RoleId + "\",\"Update_\")" })
                                                        @Html.Hidden("Update", item.Update, new { @id = "Update_" + item.RoleId })
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="be-checkbox custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(m => item.Delete, new { @class = "custom-control-input", Name = "Supprimer", @id = "Supprimer_" + item.RoleId, @onclick = "cudCheckBox(this,\"" + item.RoleId + "\",\"Delete_\")" })
                                                        @Html.Hidden("Delete", item.Delete, new { @id = "Delete_" + item.RoleId })
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-sm" style="background-color:#09aacc ; color:white;margin:15px" id="reinitialisation">
                                    <i class="dz-loading">  </i>
                                    &nbsp;&nbsp;&nbsp;     réétablir les taches a partir du statut
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.ActionLink("Retour a la liste", "Index", "Home")
                            </div>
                        </div>
                        <div class="col-lg-6" style="text-align: right;">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm" style="background-color:#09aacc ; color:white;"><i class=" fas fa-plus">  </i>&nbsp;&nbsp;&nbsp;     Enregistrer </button>

                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

@section Modal{
    @Html.Action("AddModulePartial", "Home")
    @Html.Action("AddSubModulePartial", "Home")
    @Html.Action("AddTachePartial", "Home")

}

@section Scripts{

    <script src="~/Content/CommonUserStatut.js"></script>
    <script type="text/javascript">
        var tBody = $("#table_roleTargetted > TBODY")[0];
        function InsertRow(rowidnewcc,modulename,sousmodulename,tachename,c,r,u,d,tBody) {

            var row = tBody.insertRow(-1);


            cell = $(row.insertCell(-1));
            cell.html(modulename);

            cell = $(row.insertCell(-1));
            cell.html(sousmodulename);

            cell = $(row.insertCell(-1));
            cell.html(tachename);

            cell.append(returnHidden(rowidnewcc, "RoleId", rowidnewcc));
            cell.append(returnHidden("@ViewBag.IdSelected"+"_" + rowidnewcc, "@ViewBag.IdSelected", "@ViewBag.UserId"));

            /***************************** Lire *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Read" + "_" + rowidnewcc, "Read", r);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Lire");
            chkbxr.id = "Lire_" + rowidnewcc;
            chkbxr.checked = r;
            chkbxr.onclick = function () {
                if (this.checked == false) {
                    document.getElementById("Cree_" + rowidnewcc).checked = false;
                    document.getElementById("Modifier_" + rowidnewcc).checked = false;
                    document.getElementById("Supprimer_" + rowidnewcc).checked = false;

                    document.getElementById("Read_" + rowidnewcc).value = false;
                    document.getElementById("Create_" + rowidnewcc).value = false;
                    document.getElementById("Update_" + rowidnewcc).value = false;
                    document.getElementById("Delete_" + rowidnewcc).value = false;
                }
                else {
                    //alert("Read_" + rowidnewcc);
                    document.getElementById("Read_" + rowidnewcc).value = true;

                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);



            /***************************** Cree *************************************/

            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Create" + "_" + rowidnewcc, "Create", c);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Cree");
            chkbxr.id = "Cree_" + rowidnewcc;
            chkbxr.checked = c;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Create_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Create_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);


            /***************************** Modifier *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Update" + "_" + rowidnewcc, "Update", u);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Modifier");
            chkbxr.id = "Modifier_" + rowidnewcc;
            chkbxr.checked = u;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Update_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Update_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);


            /***************************** Supprimer *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Delete" + "_" + rowidnewcc, "Delete", d);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Supprimer");
            chkbxr.id = "Supprimer_" + rowidnewcc;
            chkbxr.checked = d;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Delete_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Delete_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);

        }

        $("body").on("click", "#reinitialisation", function () {
            var User = {};
            User.UserId = "@ViewBag.UserId";
            tBody = $("#table_roleTargetted > TBODY").empty();
            $.ajax({
                type: "POST",
                url: "/Home/ResetRolesFromStatut",
                data: JSON.stringify(User),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.dd == "error") {
                        alert("erreur");
                    }
                    else {
                        $.each(data.rolesstauts, function (i, item) {
                            InsertRow(item.rowidnewcc, item.modulename, item.sousmodulename, item.tachename, item.c, item.r, item.u, item.d, tBody);
                        });
                    }
                },
                error: function () {
                    alert("error !!");
                }
            });
        });


        $("body").on("click", "#btnAdd", function () {

            if ($("#tacheSelectedId option:selected").text().includes("--- Sélectionner") == true) {
                alert("toutes les champs obligatoires !");
            }
            else {
                var rowidnewcc = $("#tacheSelectedId option:selected").val().trim();

                if ($("#" + rowidnewcc).length) {
                    alert("deja exists sur le tableau");
                } else
                {

                    InsertRow(rowidnewcc
                        , $("#ListOfModulesId option:selected").text().trim()
                        , $("#submoduleSelectedId option:selected").text().trim()
                        , $("#tacheSelectedId option:selected").text().trim()
                        , false, false ,false, false, tBody);
                }

            }

        });
        
            @*var row = tBody.insertRow(-1);


            cell = $(row.insertCell(-1));
            cell.html($("#ListOfModulesId option:selected").text().trim());

            cell = $(row.insertCell(-1));
            cell.html($("#submoduleSelectedId option:selected").text().trim());

            cell = $(row.insertCell(-1));
            cell.html($("#tacheSelectedId option:selected").text().trim());
            cell.append(returnHidden(rowidnewcc, "RoleId", rowidnewcc));
            cell.append(returnHidden("@ViewBag.IdSelected"+"_" + rowidnewcc, "@ViewBag.IdSelected", "@ViewBag.UserId"));

            /***************************** Lire *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Read" + "_" + rowidnewcc, "Read", false);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Lire");
            chkbxr.id = "Lire_" + rowidnewcc;
            chkbxr.onclick = function () {
                if (this.checked == false) {
                    document.getElementById("Cree_" + rowidnewcc).checked = false;
                    document.getElementById("Modifier_" + rowidnewcc).checked = false;
                    document.getElementById("Supprimer_" + rowidnewcc).checked = false;

                    document.getElementById("Read_" + rowidnewcc).value = false;
                    document.getElementById("Create_" + rowidnewcc).value = false;
                    document.getElementById("Update_" + rowidnewcc).value = false;
                    document.getElementById("Delete_" + rowidnewcc).value = false;
                }
                else {
                    //alert("Read_" + rowidnewcc);
                    document.getElementById("Read_" + rowidnewcc).value = true;

                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);



            /***************************** Cree *************************************/

            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Create" + "_" + rowidnewcc, "Create", false);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Cree");
            chkbxr.id = "Cree_" + rowidnewcc;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Create_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Create_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);


            /***************************** Modifier *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Update" + "_" + rowidnewcc, "Update", false);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Modifier");
            chkbxr.id = "Modifier_" + rowidnewcc;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Update_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Update_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);


            /***************************** Supprimer *************************************/
            cell = $(row.insertCell(-1));

            var labr = returnLab(); var spanne = returnSPAN();
            var hiddn = returnHidden("Delete" + "_" + rowidnewcc, "Delete", false);

            var chkbxr = document.createElement("INPUT");
            chkbxr.className = "custom-control-input";
            chkbxr.setAttribute("type", "checkbox");
            chkbxr.setAttribute("name", "Supprimer");
            chkbxr.id = "Supprimer_" + rowidnewcc;
            chkbxr.onclick = function () {
                if (this.checked == true) {

                    var checkread = document.getElementById("Lire_" + rowidnewcc);
                    checkread.checked = true;
                    document.getElementById("Read_" + rowidnewcc).value = true;

                    document.getElementById("Delete_" + rowidnewcc).value = true;

                }
                else {
                    document.getElementById("Delete_" + rowidnewcc).value = false;
                }
            };


            labr.appendChild(hiddn);
            labr.appendChild(chkbxr);
            labr.appendChild(spanne);
            cell.append(labr);*@
    </script>
}