@model GestionnaireUtilisateurs.Models.MultiModeles
@{

    ViewBag.Title = "AvisOrg";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
    int idAURS = 1; int idCOMMUNE = 3; int idPrefecture = 2; int idDomaine = 4; int idConcernee = 5;

    bool avisAURS = Model.AvisOrgs.Where(p => p.FK_Organisme == idAURS).Count() != 0;
    int avisAURSDef = 0; string avisAURSDetail = "";
    if (avisAURS)
    {
        avisAURSDef = Model.AvisOrgs.Where(p => p.FK_Organisme == idAURS).First().FK_TypAvis;
        avisAURSDetail = Model.AvisOrgs.Where(p => p.FK_Organisme == idAURS).First().Detail_Avis;
    }

    bool avisCOMMUNE = Model.AvisOrgs.Where(p => p.FK_Organisme == idCOMMUNE).Count() != 0;
    int avisCOMMUNEDef = 0; string avisCOMMUNEDetail = "";
    if (avisCOMMUNE)
    {
        avisCOMMUNEDef = Model.AvisOrgs.Where(p => p.FK_Organisme == idCOMMUNE).First().FK_TypAvis;
        avisCOMMUNEDetail = Model.AvisOrgs.Where(p => p.FK_Organisme == idCOMMUNE).First().Detail_Avis;
    }

    bool avisPrefecture = Model.AvisOrgs.Where(p => p.FK_Organisme == idPrefecture).Count() != 0;
    int avisPrefectureDef = 0; string avisPrefectureDetail = "";
    if (avisPrefecture)
    {
        avisPrefectureDef = Model.AvisOrgs.Where(p => p.FK_Organisme == idPrefecture).First().FK_TypAvis;
        avisPrefectureDetail = Model.AvisOrgs.Where(p => p.FK_Organisme == idPrefecture).First().Detail_Avis;
    }

    bool avisDomaine = Model.AvisOrgs.Where(p => p.FK_Organisme == idDomaine).Count() != 0;
    int avisDomaineDef = 0; string avisDomaineDetail = "";
    if (avisDomaine)
    {
        avisDomaineDef = Model.AvisOrgs.Where(p => p.FK_Organisme == idDomaine).First().FK_TypAvis;
        avisDomaineDetail = Model.AvisOrgs.Where(p => p.FK_Organisme == idDomaine).First().Detail_Avis;
    }

    bool avisConcernee = Model.AvisOrgs.Where(p => p.FK_Organisme == idConcernee).Count() != 0;
    int avisConcerneeDef = 0; string avisConcerneeDetail = "";
    if (avisConcernee)
    {
        avisConcerneeDef = Model.AvisOrgs.Where(p => p.FK_Organisme == idConcernee).First().FK_TypAvis;
        avisConcerneeDetail = Model.AvisOrgs.Where(p => p.FK_Organisme == idConcernee).First().Detail_Avis;
    }

    var docCommission = Model.DemDerg.Document_Derogation.Where(o => o.Intitule_Doc_Derg == 201);
    var pvExist = docCommission.Count() != 0; var pvDoesNotExist = !pvExist;
    bool Lire = ViewBag.Read; bool NLire = !Lire;
    bool Cree = ViewBag.Create; bool NCree = !Cree;
    bool Modifier = ViewBag.Update; bool NModifier = !Modifier;
    bool Supprimer = ViewBag.Delete; bool NSupprimer = !Supprimer;
}
<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="visited"><em>Siuation Géographique</em></li>
            <li style="right: 2px;" class="visited"><em>GED</em></li>
            <li style="right: 2px;" class="visited"><em>Programmation</em></li>
            <li style="right: 2px;" class="current"><em>Avis</em></li>
            <li style="right: 2px;"><em>Echanges</em></li>
            <li style="right: 2px;"><em>Autorisation</em></li>
            <li style="right: 2px;"><em>Cloture</em></li>
        </ol>
    </nav>
</section>


@using GestionnaireUtilisateurs.Controllers
@{
    Html.RenderAction("Indicators", "WorkflowDerogation", new { Tache = WorkflowDerogationController._Avis });
}



@if (Lire)
{
    <link rel="stylesheet" href="~/Content/barre/css/style.css">
    <link href="~/Content/custumfileinput.css" rel="stylesheet" />

    @Html.Partial("WorkflowG", Model)

    <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
        <div class="card-body" id="">
            <div class="form-horizontal">
                @using (Html.BeginForm("AvisOrg", "WorkflowDerogation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="hidden" name="FK_Organisme" value="@idAURS" />
                                <label for="inputText11" style="font-size:12px;">Avis AURS : <label style="color:red">*</label></label>

                                <select disabled="@NModifier" required class="form-control form-control-sm chzn-selec" id="avisAURS" name="FK_TypAvis">
                                    <option value="">--- Avis AURS ---</option>
                                    @foreach (var item in Model.TypAviss)
                                    {
                                        if (item.Id_TypAvis == avisAURSDef)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)" selected>@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)">@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Détail Avis :</label>
                                <input disabled="@NModifier" required class="form-control" type="text" id="Detail_AvisAurs" name="Detail_Avis" value="@avisAURSDetail" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="hidden" name="FK_Organisme" value="@idCOMMUNE" />

                                <label for="inputText11" style="font-size:12px;">Avis Commune : <label style="color:red">*</label></label>
                                <select disabled="@NModifier" required class="form-control form-control-sm chzn-selec" id="avisCom" name="FK_TypAvis">
                                    <option value="">--- Avis Commune ---</option>
                                    @foreach (var item in Model.TypAviss)
                                    {
                                        if (item.Id_TypAvis == avisCOMMUNEDef)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)" selected>@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)">@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Détail Avis :</label>
                                <input disabled="@NModifier" required class="form-control" type="text" id="detailAvisCom" name="Detail_Avis" value="@avisCOMMUNEDetail" />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="hidden" name="FK_Organisme" value="@idPrefecture" />
                                <label for="inputText11" style="font-size:12px;">Avis Préfécture : <label style="color:red">*</label></label>
                                <select disabled="@NModifier" required class="form-control form-control-sm chzn-selec" id="avisPref" name="FK_TypAvis">
                                    <option value="">--- Avis Préfécture  ---</option>
                                    @foreach (var item in Model.TypAviss)
                                    {
                                        if (item.Id_TypAvis == avisPrefectureDef)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)" selected>@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)">@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Détail Avis :</label>
                                <input disabled="@NModifier" required class="form-control" type="text" id="detailAvisPref" name="Detail_Avis" value="@avisPrefectureDetail" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="hidden" name="FK_Organisme" value="@idConcernee" />
                                <label for="inputText11" style="font-size:12px;">Avis Département régional concerné : <label style="color:red">*</label></label>
                                <select disabled="@NModifier" required class="form-control form-control-sm chzn-selec" id="avisDepReg" name="FK_TypAvis">
                                    <option value="">--- Avis Département régional concerné ---</option>
                                    @foreach (var item in Model.TypAviss)
                                    {
                                        if (item.Id_TypAvis == avisConcerneeDef)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)" selected>@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)">@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Détail Avis :</label>
                                <input disabled="@NModifier" required class="form-control" type="text" id="detailAvisDepReg2" name="Detail_Avis" value="@avisConcerneeDetail" />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="hidden" name="FK_Organisme" value="@idDomaine" />
                                <label for="inputText11" style="font-size:12px;">Avis Domaine : <label style="color:red">*</label></label>
                                <select disabled="@NModifier" required class="form-control form-control-sm chzn-selec" id="avisDom" name="FK_TypAvis">
                                    <option value="">--- Avis Domaine  ---</option>
                                    @foreach (var item in Model.TypAviss)
                                    {
                                        if (item.Id_TypAvis == avisDomaineDef)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)" selected>@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.Id_TypAvis)">@Html.DisplayFor(modelItem => item.Type_Avis1)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Détail Avis :</label>
                                <input disabled="@NModifier" required class="form-control" type="text" id="detailAvis_dom" name="Detail_Avis" value="@avisDomaineDetail" />
                            </div>
                        </div>
                    </div>


                    <br />
                    <center><label style="font-weight: bold"><u>Avis des parties prenantes</u></label></center><br />

                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="listeAvis">
                                <table class="table table-striped table-bordered first" id="listeAvis">
                                    <thead>
                                        <tr>
                                            <th>Partie Prenante :</th>
                                            <th>Avis :</th>
                                            <th>Détail Avis :</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyAvis">
                                        @foreach (var item in Model.AvisOrgs.Where(a => a.FK_Organisme > 6))
                                        {
                                            <tr id="@item.FK_Organisme">
                                                <td>
                                                    <select disabled='@NModifier' class='form-control form-control-sm chzn-selec' name='FK_Organisme'>
                                                        <option value=''>--- Parties Prenantes  ---</option>
                                                        @foreach (var element in Model.Orgs)
                                                        {
                                                            if (item.FK_Organisme == element.Id_Organisme)
                                                            {
                                                                <option name='@element.Nom_Organisme' selected value='@element.Id_Organisme'>@element.Nom_Organisme</option>
                                                            }
                                                            else
                                                            {
                                                                <option name='@element.Nom_Organisme' value='@element.Id_Organisme'>@element.Nom_Organisme</option>
                                                            }

                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <select disabled='@NModifier' class='form-control form-control-sm chzn-selec' name='FK_TypAvis'>
                                                        <option value=''>--- Avis  ---</option>
                                                        @foreach (var element in Model.TypAviss)
                                                        {
                                                            if (item.FK_TypAvis == element.Id_TypAvis)
                                                            {
                                                                <option name='@element.Type_Avis1' selected value='@element.Id_TypAvis'>@element.Type_Avis1</option>
                                                            }
                                                            else
                                                            {
                                                                <option name='@element.Type_Avis1' value='@element.Id_TypAvis'>@element.Type_Avis1</option>
                                                            }

                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="Detail_Avis" value="@item.Detail_Avis" />
                                                </td>
                                                <td>
                                                    @if (Supprimer)
                                                    {
                                                        <a class="btn btn-sm buttonsReapeateds"
                                                           href="@Url.Action("DeleteAvis","WorkflowDerogation",new { Id_Avis=item.Id_Avis,FK_DemDerg=Model.DemDerg.Id_DemDerg})">
                                                            <i class="fa fa-minus"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="width:30px;">
                                                <a class="btn btn-sm buttonsReapeateds" onclick="javascript: addRow('tbodyAvis');">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">PV de la commission :</label><br />
                                @if (pvDoesNotExist)
                                {
                                    <input disabled="@NModifier" @*onchange="filechange(this)"*@ size="30000" type="file" accept='.pdf,.jpeg,.jpg,.png,.gif'
                                           class="inputfile inputfile-1" name="url_Doc_Derg" id="url_Doc_Derg" required />
                                }
                                else
                                {
                                    
                                }
                                <label for="url_Doc_Derg">
                                    <span id="labelNomDoc">
                                        Document ...
                                    </span>

                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin-top:15px">
                            @if (pvExist)
                            {
                                <a href="@docCommission.Last().url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs" }, StringSplitOptions.None).Last()"
                                   id="file22" target="_blank">
                                    @if (docCommission.Last().FileName == "AUCUN")
                                    {
                                        <label>
                                            @docCommission.Last().url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs/GED_DEROG/" + docCommission.Last().Demande_Derogation.Id_DemDerg + "/" }, StringSplitOptions.None).Last()
                                        </label>
                                    }
                                    else
                                    {
                                        <span style="text-decoration-color:blue">@docCommission.Last().FileName </span>
                                        <span>(@docCommission.Last().ContentType)</span>
                                    }
                                </a>
                            }

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Remarque :</label>
                                <input disabled="@NModifier" required type="text" class="form-control" name="Avis_Remarque_DemDerg" id="Avis_Remarque_DemDerg"
                                       value="@Model.DemDerg.Avis_Remarque_DemDerg" /> <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <center class="fixed-bottom">
                                <input type="hidden" id="FK_DemDerg" name="FK_DemDerg" value="@Model.DemDerg.Id_DemDerg" />
                                <button type="submit" class="btn btn-lg buttonsReapeateds" value="0" name="valider" id="btnSave">
                                    Enregister   <i class="fa fa-level-down-alt"></i>
                                </button>
                                @*<button type="submit" class="btn btn-lg buttonsReapeateds" value="1" name="valider" id="btnsend">
                                    Passer à l'etape suivante  <i class="fa fa-paper-plane"></i>
                                </button>*@
                                <a onclick="passClicked(this,'valider')" class="btn btn-lg buttonsReapeateds" style="color:white">
                                    Passer à l'etape suivante  <i class="fa fa-paper-plane"></i>
                                </a>
                            </center>
                        </div>
                    </div>
                    <br />@Html.ActionLink("Retour a la liste des demandes", "Encours")<br />
                }
            </div>
        </div>
    </div>

    if (Modifier)
    {
        <script language="javascript">
            $('#url_Doc_Derg').change(function (evt) {
                var input = document.getElementById('url_Doc_Derg'); filechange(input);
            });
            function filechange(input) {
                var label = input.nextElementSibling;
                var fileSelected = input.files.item(0);
                var fileName = 'Choisir ...'; var endstart = 5, startend = 7;
                if (input.files.length!=0) {
                    fileName = fileSelected.name;
                }
                //console.log('fileName.length : '+fileName.length);
                if (fileName.length < startend + endstart + 1) {
                    label.querySelector('span').innerHTML = fileName;
                }
                else {
                    label.querySelector('span').innerHTML = fileName.substring(0, endstart)
                        + "..." + fileName.substring(fileName.length - startend, fileName.length);
                }
                // Firefox bug fix
                input.addEventListener('focus', function () { input.classList.add('has-focus'); });
                input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
            }

            var stringArray = [];
            tableau = document.getElementById('tbodyAvis');
            var rows =@Model.DemDerg.Avis_Org.Where(k=>k.FK_Organisme>6).Count();
            var numeroligne = 0;
            var rownmbr = rows;

            function delete_Row(r) {
                var i = r.parentNode.parentNode.rowIndex;
                document.getElementById("tbodyAvis").deleteRow(i-1);
            }

            function organismeChange(Organisme) {
                var valeur = Organisme.value;
                var tr = Organisme.parentNode.parentNode; var i = tr.rowIndex;
                if (valeur!='') {
                    if ($("#" + valeur).length) {
                        alert('deja Exist !');
                        document.getElementById("tbodyAvis").deleteRow(i-1);
                        rownmbr -= 1; numeroligne -= 1;
                        //stringArray.splice(numeroligne-1,1);
                        //console.log(stringArray);
                    }

                    else {
                        tr.setAttribute('id', valeur);
                        //stringArray.push({
                        //    "Org": valeur, "Avis": tr.children[1].children[0].value,
                        //    "Detail": tr.children[2].children[0].value
                        //});
                        //tr.children[2].children[0].value = valeur;
                    }
                }
            }

            function addRow(tableau) {

                tableau = document.getElementById(tableau);
                rownmbr += 1; numeroligne += 1;
                var tr = document.createElement('tr');

                var td = document.createElement('td');

                td.innerHTML = "<select required class='form-control form-control-sm chzn-selec' name='FK_Organisme' onchange='organismeChange(this)' id='org"+rownmbr+"'><option value=''>--- Parties Prenantes  ---</option>"+
                                    "@foreach (var element in Model.Orgs){<option value='@element.Id_Organisme'>@element.Nom_Organisme </option>}"+
                                "</select>";
                tr.appendChild(td);

                var td = document.createElement('td');
                td.innerHTML = "<select required class='form-control form-control-sm chzn-selec' name='FK_TypAvis'><option value=''>--- Avis  ---</option>"+
                                    "@foreach (var element in Model.TypAviss){<option value='@element.Id_TypAvis'>@element.Type_Avis1 </option>}"+
                                "</select>";
                tr.appendChild(td);

                var td = document.createElement('td');
                td.innerHTML = "<input required type='text' name='Detail_Avis' />";
                tr.appendChild(td);

                var element = document.createElement("i");
                element.setAttribute("class", "fa fa-minus-circle");
                element.setAttribute("width", "1%")
                element.style.color = "#FF6347";

                element.onclick = function () {
                    delete_Row(this);
                    rownmbr -= 1; numeroligne -= 1;
                    //stringArray.splice(numeroligne, 1);
                    //console.log(stringArray);
                };
                var td1 = document.createElement('td');
                td1.appendChild(element);
                td1.setAttribute("width", "3%");
                tr.appendChild(td1);


                tableau.appendChild(tr);
            }
        </script>
    }

}
else
{
    <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
        <div class="card-body">
            <center>
                <label class="text-danger">
                    <span>
                        <i class="fa fa-accessible-icon"></i>
                        <strong>
                            Vous n'avez pas le droit d'afficher cette information
                        </strong>
                    </span>
                </label>
            </center>
            <br />@Html.ActionLink("Retour a la liste des demandes", "Encours")<br />
        </div>
    </div>
}
@section Scripts{

    <script src="~/Content/PassNextStep.js"></script>
}