@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "GED";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";

}
<link href="~/Content/custumfileinput.css" rel="stylesheet" />
<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="visited"><em>Siuation Géographique</em></li>
            <li style="right: 2px;" class="current"><em>GED</em></li>
            <li style="right: 2px;"><em>Programmation</em></li>
            <li style="right: 2px;"><em>Avis</em></li>
            <li style="right: 2px;"><em>Echanges</em></li>
            <li style="right: 2px;"><em>Autorisation</em></li>
            <li style="right: 2px;"><em>Cloture</em></li>
        </ol>
    </nav>
</section>
@Html.Partial("WorkflowG", Model)


<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">

    <h5 class="card-header">Ajout des documents</h5>
    <div class="card-body" id="">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-2">
                    @*<label for="inputText11" style="font-size:12px;">Document :</label>
                        <input dirname="D:\" type="file" class="form-control " oncancel="filecancel(this)" placeholder="Document" name="url_Doc_Derg" id="UrlDoc" /> <br />

                        <div class="box" style="margin:20px">
                                <input type='file' class='inputfile inputfile-1' name='url_Doc_Derg'
                                       id='UrlDoc' accept='.pdf,.jpeg,.jpg,.png,.gif' onchange="filechange(this)" multiple>
                                <label for='UrlDoc'>
                                    <span id='labelNomDoc'>Document ...</span>

                                </label>
                            </div>
                            <br />*@
                    @*<button type="button" class="btn btn-sm" style="background-color:#09aacc;color:white;margin-top: 1%;text-align: right;"
                                name="enregistrer" id="AddDocs" value="0" onclick="javascript: addRow('listeDoc'); this.form.reset();">
                            <i class="fa fa-check">Ajouter le document</i>
                        </button>*@
                </div>
                <div class="col-md-8">
                    <div class="listeDoc">
                        @using (Html.BeginForm("Ged", "WorkflowDerogation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*@Html.Editor("tir","tir", new { htmlAttributes = new { @class = "form-control", @type = "file" } })*@
                            <center><label class="text-danger">@Model.Message2View</label></center>
                            <input type='hidden' name='FK_DemDerg_DocDerg' value='@Model.DemDerg.Id_DemDerg' />
                            <table class="table table-striped table-bordered first" id="listeDoc">
                                <thead>
                                    <tr>
                                        <th>Document :</th>
                                        <th>Intitulé :</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDoc">
                                    @foreach (var item in Model.DemDerg.Document_Derogation)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@item.url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs" }, StringSplitOptions.None).Last()"
                                                   id="file22" target="_blank">
                                                    @if (item.FileName == "AUCUN")
                                                    {
                                                        @item.url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs/GED_DEROG/" + item.Demande_Derogation.Id_DemDerg + "/" }, StringSplitOptions.None).Last()
                                                    }
                                                    else
                                                    {
                                                        <span style="text-decoration-color:blue">@item.FileName </span>
                                                        <span>(@item.ContentType)</span>
                                                    }

                                                </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.TYPE_DOC.NOM_Document)</td>
                                            <td>
                                                <button id="@item.Id_Doc_Derog" class="btn btn-sm buttonsReapeateds" onclick="DeleteDoc(this, this.id)">
                                                    <i class="fa fa-minus"></i>
                                                    @*<img src="../Content/documentation/img/del.png" />*@
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="width:30px;">
                                            <button class="btn btn-sm buttonsReapeateds" id="add2table">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <center class="fixed-bottom">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-lg buttonsReapeateds" value="0" name="valider" id="btnSave">
                                        Enregister <i class="fa fa-level-down-alt"></i>
                                    </button>
                                    <button type="submit" class="btn btn-lg buttonsReapeateds" value="1" name="valider" id="btnsend">
                                        Passer à l'etape suivante <i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </center>
                        }

                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>

<script src="~/Content/dwnlds/jquery.slimscroll.js"></script>
<script src="~/Content/dwnlds/bootstrap.bundle.js"></script>
<script src="~/Content/dwnlds/chosen.jquery.js"></script>
<script src="~/Content/dwnlds/jquery-1.8.3.js"></script>
<script src="~/Content/dwnlds/jquery-3.3.1.min.js"></script>
<script src="~/Content/dwnlds/jquery-ui.js"></script>
<link href="~/Content/dwnlds/chosen.css" rel="stylesheet" />
<link href="~/Content/dwnlds/jquery-ui.css" rel="stylesheet" />
@*<script src="~/Content/fileInputCustom.js"></script>*@

<script language="javascript">
    var nombre = @Model.DemDerg.Document_Derogation.Count();
    var i = nombre + 1;
    $("#add2table").click(function () {
        var table = document.getElementById('tbodyDoc');
        var row = table.insertRow(table.length);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        cell1.innerHTML = " <input required type='file' class='inputfile inputfile-1' name='url_Doc_Derg'" +
            "id='file" + i + "' accept='.pdf,.jpeg,.jpg,.png,.gif' onchange='filechange(this)'> "
            + "<label for='file" + i + "'>"
            + "<span id='label" + i + "'>Document ...</span>"
            + " </label>";
        cell2.innerHTML = " <select required class='form-control form-control-sm chzn-selec' name='Intitule_Doc_Derg'>" +
            "<option value=''>------Intitulé----------</option>" +
            "@foreach(var item in Model.TYPE_DOCs){<option value='@item.ID_DOCUMENT'>@item.NOM_Document</option>}" +
            "</select>";
        //"<input type='text'   name='AutreP'>";
        var btn = document.createElement("input");
        btn.setAttribute("id", i);
        btn.setAttribute("src", "../Content/documentation/img/del.png");
        btn.setAttribute("type", "image");
        btn.setAttribute("name", "delete");
        btn.onclick = function () {
            $(this).closest('tr').remove();
            i = i - 1;console.log( "nombre "+i);
        }
        cell3.appendChild(btn);
        i = i + 1;
        //console.log( $("input[id='1']"));
        console.log( "nombre "+i);
    })

    function DeleteDoc(r, rid) {
        var i = r.parentNode.parentNode.rowIndex;
        alert("Êtes-vous sûr de vouloir supprimer l'enregistrement ?"+"i : "+i+", rid : "+rid);
        //DeleteD(rid);
        document.getElementById("tbodyDoc").deleteRow(i-1);
    }

    function DeleteD(rid) {

        $.post("@Url.Action("DeleteDoc", "WorkflowAutorisation")",
            {
                idDoc: rid,
            },
            function (data) {

            });

    }

    function filechange(input) {
        var label = input.nextElementSibling;
        var fileSelected = input.files.item(0);
        var fileName = 'Choisir ...'; var endstart = 5, startend = 7;
        if (input.files.length!=0) {
            fileName = fileSelected.name;
        }
        if (fileName.length < startend + endstart + 1) {
            label.querySelector('span').innerHTML = fileName;
        }
        else {
            label.querySelector('span').innerHTML = fileName.substring(0, endstart)
                + "..." + fileName.substring(fileName.length - startend, fileName.length);
        }
        // Firefox bug fix
        input.addEventListener('focus', function () { input.classList.add('has-focus'); });
        input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
    }
    </script>
<script language="javascript">
    @*$("#AddDocs").click(function () {
        if ($("input[type = file]").get(0).files.length == 0) {
            alert('documents vides');
        }
        else {
            var names = [];
            console.log($("input[type = file]").get(0).files);
            for (var i = 0; i < $("input[type = file]").get(0).files.length; i++)
            {
                names.push($("input[type = file]").get(0).files[i].name);
                var table = document.getElementById('tbodyDoc');
                var row = table.insertRow(table.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = $("input[type = file]").get(0).files[i].name;
                cell2.innerHTML = " <select required class='form-control form-control-sm chzn-selec' name='filetype'>" +
                    "<option value=''>------Intitulé----------</option>" +
                    "@foreach(var item in Model.TYPE_DOCs){<option value='@item.ID_DOCUMENT'>@item.NOM_Document</option>}" +
                    "</select>";
                //"<input type='text'   name='AutreP'>";
                var btn = document.createElement("input");
                btn.setAttribute("id", i);
                btn.setAttribute("src", "../Content/documentation/img/del.png");
                btn.setAttribute("type", "image");
                btn.setAttribute("name", "delete");
                btn.onclick = function () {
                    $(this).closest('tr').remove();
                }
                cell3.appendChild(btn);
                nombre += 1;
            }

            document.getElementById("labelNomDoc").innerHTML = "Document...";

        }

    })
    $("#btnsend").click(function () {
        if (nombre == 0) {
            alert("documents obligatoires!! ");
        }
        else {
            $('#form1').submit();
        }
    });

    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("listeDoc").deleteRow(i);

    }

    var stringArray = [];
    function addRow(tableau) {
        if (document.getElementById("UrlDoc").value != "") {
            tableau = document.getElementById(tableau);

            var tr = document.createElement('tr');

            var td = document.createElement('td');
            tableau.appendChild(tr);
            td.innerHTML = document.getElementById("IntitulDoc").value;
            tr.appendChild(td);

            var td = document.createElement('td');
            tableau.appendChild(tr);
            td.innerHTML = document.getElementById("UrlDoc").value;
            tr.appendChild(td);

            var element = document.createElement("i");
            element.setAttribute("class", "fa fa-minus-circle");
            element.setAttribute("width", "6%")
            element.style.color = "#FF6347";

            element.onclick = function () {
                con = (this.parentNode.parentNode.rowIndex) - 1;
                stringArray.splice(con, 1);
                deleteRow(this)

            };
            var td1 = document.createElement('td');
            td1.appendChild(element);
            tr.appendChild(td1);


            tableau.appendChild(tr);
            document.getElementById("labelNomDoc").innerHTML = "Document...";

            var A = document.getElementById('IntitulDoc');
            var B = document.getElementById('UrlDoc');
            var II = @Model.DemDerg.Id_DemDerg;
            var AA = A.value;
            var BB = B.value;
            stringArray.push({
                "FK_DemDerg_DocDerg": II,
                "Intitule_Doc_Derg": AA,
                "url_Doc_Derg": BB,
            });
        }
        else { alert("document vide!")}

    }

    $("#btnsend").click(function () {
        if (stringArray.length == 0 && nombre==0) {
            alert("documents obligatoires!! ");
        }
        else {
            var formData = new FormData();
            var json = JSON.stringify(stringArray);
            formData.append("ged", json);
            formData.append("id", @Model.DemDerg.Id_DemDerg);
            formData.append("valider", document.getElementById('btnsend').value);
            $.ajax({
                type: "Post",
                url: '@Url.Action("Ged", "WorkflowDerogation")',
                contentType: false,
                cache: false,
                dataType: "json",
                data: formData,
                processData: false,
                timeout: 30000,
                //success: function (json) {
                //    if (json.isRedirect) {
                //        window.location.href = json.redirectUrl;
                //    }
                //},
                success: function (data) {
                    window.location.href = data;
                },
                //success: function () {
                //    window.location.href = data;
                //},
                error: function (resultat, statut, erreur) {
                    alert(erreur);
                }
            });

            traditional: true
        }


    });


    $("#btnSave").click(function () {
        var formData = new FormData();
        var json = JSON.stringify(stringArray);
        formData.append("Ged", json);
        formData.append("id", @Model.DemDerg.Id_DemDerg);
        formData.append("valider", document.getElementById('btnSave').value);
        $.ajax({
            type: "Post",
            url: '@Url.Action("Ged", "WorkflowDerogation")',
            contentType: false,
            cache: false,
            dataType: "json",
            data: formData,
            processData: false,
            success: function (data) {
                window.location.href = data;
            },
            error: function (resultat, statut, erreur) {
                alert(erreur);
            }
        });

        traditional: true


    });*@

</script>
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">*@