@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "GED";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
    bool Lire = ViewBag.Read; bool NLire = !Lire;
    bool Cree = ViewBag.Create; bool NCree = !Cree;
    bool Modifier = ViewBag.Update; bool NModifier = !Modifier;
    bool Supprimer = ViewBag.Delete; bool NSupprimer = !Supprimer;
}
<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="visited"><em>Siuation Géographique</em></li>
            <li style="right: 2px;" class="current"><em>GED</em></li>
            <li style="right: 2px;"><em>Programmation</em></li>
            <li style="right: 2px;"><em>Avis</em></li>
            <li style="right: 2px;"><em>Echanges</em></li>
            <li style="right: 2px;"><em>Autorisation</em></li>
            <li style="right: 2px;"><em>Cloture</em></li>
        </ol>
    </nav>
</section>
<center>
    <label class="text-capitalize text-info" style="background-color:gray;margin-bottom:10px">
        Lire  @if (Lire)
        {<span class="fa fa-circle" style="color:#00ff00;"></span>}
        else
        { <span class="fa fa-circle" style="color:#ff0000;"></span>}

        Cree  @if (Cree)
        {<span class="fa fa-circle" style="color:#00ff00;"></span>}
        else
        { <span class="fa fa-circle" style="color:#ff0000;"></span>}

        Modifier  @if (Modifier)
        {<span class="fa fa-circle" style="color:#00ff00;"></span>}
        else
        { <span class="fa fa-circle" style="color:#ff0000;"></span>}
        Supprimer  @if (Supprimer)
        {<span class="fa fa-circle" style="color:#00ff00;"></span>}
        else
        { <span class="fa fa-circle" style="color:#ff0000;"></span>}
    </label>

</center>


@if (Lire)
{
    <link href="~/Content/custumfileinput.css" rel="stylesheet" />
    @Html.Partial("WorkflowG", Model)
    <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">

        <h5 class="card-header">Ajout des documents</h5>
        <div class="card-body" id="">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="listeDoc">
                            @using (Html.BeginForm("Ged", "WorkflowDerogation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <center><label class="text-danger">@Model.Message2View</label></center>
                                <input type='hidden' name='FK_DemDerg_DocDerg' value='@Model.DemDerg.Id_DemDerg' />
                                <table class="table table-striped table-bordered first" id="listeDoc">
                                    <thead>
                                        <tr>
                                            <th>Document :</th>
                                            <th>Intitulé :</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyDoc">
                                        @foreach (var item in Model.DemDerg.Document_Derogation)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@item.url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs" }, StringSplitOptions.None).Last()"
                                                       id="file22" target="_blank">
                                                        @if (item.FileName == "AUCUN")
                                                        {
                                                            @item.url_Doc_Derg.Replace("\\", "/").Split(new string[] { "/GestionnaireUtilisateurs/GED_DEROG/" + item.Demande_Derogation.Id_DemDerg + "/" }, StringSplitOptions.None).Last()
                                                        }
                                                        else
                                                        {
                                                            <span style="text-decoration-color:blue">@item.FileName </span>
                                                            <span>(@item.ContentType)</span>
                                                        }
                                                    </a>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.TYPE_DOC.NOM_Document)</td>
                                                <td>
                                                    @if (Supprimer)
                                                    {
                                                        <a id="@item.Id_Doc_Derog" class="btn btn-sm buttonsReapeateds" @*onclick="DeleteDoc(this, this.id)"*@
                                                           href="@Url.Action("DeleteDocument","WorkflowDerogation",new { Id_Doc_Derog=item.Id_Doc_Derog,FK_DemDerg_DocDerg=Model.DemDerg.Id_DemDerg})">
                                                            <i class="fa fa-minus"></i>
                                                        </a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    @if (Cree)
                                    {
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td style="width:30px;">
                                                    <button class="btn btn-sm buttonsReapeateds" id="add2table">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    }

                                </table>
                                <center class="fixed-bottom">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-lg buttonsReapeateds" value="0" name="valider" id="btnSave">
                                            Enregister <i class="fa fa-level-down-alt"></i>
                                        </button>
                                        <button type="submit" class="btn btn-lg buttonsReapeateds" value="1" name="valider" id="btnsend">
                                            Passer à l'etape suivante <i class="fa fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </center>
                            }

                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    </div>

    @*<script src="~/Content/dwnlds/jquery.slimscroll.js"></script>
    <script src="~/Content/dwnlds/bootstrap.bundle.js"></script>
    <script src="~/Content/dwnlds/chosen.jquery.js"></script>
    <script src="~/Content/dwnlds/jquery-1.8.3.js"></script>
    <script src="~/Content/dwnlds/jquery-3.3.1.min.js"></script>
    <script src="~/Content/dwnlds/jquery-ui.js"></script>
    <link href="~/Content/dwnlds/chosen.css" rel="stylesheet" />
    <link href="~/Content/dwnlds/jquery-ui.css" rel="stylesheet" />*@
    @*<script src="~/Content/fileInputCustom.js"></script>*@
    if (Cree)
    {
        <script language="javascript">
            var nombre = @Model.DemDerg.Document_Derogation.Count();
            var i = nombre + 1;
            $("#add2table").click(function () {
                var table = document.getElementById('tbodyDoc');
                var row = table.insertRow(table.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = " <input required type='file' class='inputfile inputfile-1' name='url_Doc_Derg'" +
                    "id='file" + i + "' accept='.pdf,.jpeg,.jpg,.png,.gif' onchange='filechange(this)'> "
                    + "<label for='file" + i + "'>"
                    + "<span id='label" + i + "'>Document ...</span>"
                    + " </label>";
                cell2.innerHTML = " <select required class='form-control form-control-sm chzn-selec' name='Intitule_Doc_Derg'>" +
                    "<option value=''>------Intitulé----------</option>" +
                    "@foreach(var item in Model.TYPE_DOCs){<option value='@item.ID_DOCUMENT'>@item.NOM_Document</option>}" +
                    "</select>";
                //"<input type='text'   name='AutreP'>";
                var btn = document.createElement("input");
                btn.setAttribute("id", i);
                btn.setAttribute("src", "../Content/documentation/img/del.png");
                btn.setAttribute("type", "image");
                btn.setAttribute("name", "delete");
                btn.onclick = function () {
                    $(this).closest('tr').remove();
                    i = i - 1;
                    //console.log("nombre " + i);
                    //DeleteDoc(this,this.id);
                }
                cell3.appendChild(btn);
                i = i + 1;
                ////console.log( $("input[id='1']"));
                //console.log( "nombre "+i);
            })

            function DeleteDoc(r, rid) {
                //var i = r.parentNode.parentNode.rowIndex;
                //alert("Êtes-vous sûr de vouloir supprimer l'enregistrement ?"+"i : "+i+", rid : "+rid);
                ////DeleteD(rid);
                //document.getElementById("tbodyDoc").deleteRow(i-1);
                if (confirm("Êtes-vous sûr de vouloir supprimer l'enregistrement ?")) {
                    window.location.href = "/WorkflowDerogation/DeleteDocument?Id_Doc_Derog="+rid+"&FK_DemDerg_DocDerg=@Model.DemDerg.Id_DemDerg";
                }
            }
            function filechange(input) {
                var label = input.nextElementSibling;
                var fileSelected = input.files.item(0);
                var fileName = 'Choisir ...'; var endstart = 5, startend = 7;
                if (input.files.length!=0) {
                    fileName = fileSelected.name;
                }
                if (fileName.length < startend + endstart + 1) {
                    label.querySelector('span').innerHTML = fileName;
                }
                else {
                    label.querySelector('span').innerHTML = fileName.substring(0, endstart)
                        + "..." + fileName.substring(fileName.length - startend, fileName.length);
                }
                // Firefox bug fix
                input.addEventListener('focus', function () { input.classList.add('has-focus'); });
                input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
            }
        </script>
    }

}
else
{
    <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
        <div class="card-body">
            <center>
                <label class="text-danger">
                    <span>
                        <i class="fa fa-accessible-icon"></i>
                        <strong>
                            Vous n'avez pas le droit d'afficher cette information
                        </strong>
                    </span>
                </label>
            </center>
        </div>
    </div>
}
