@model GestionnaireUtilisateurs.Models.MultiModeles

@{
    ViewBag.Title = "Rensegnements_Fait";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
    //var datenow = DateTime.Now.ToString("dd-MM-yyyy HH:mm");
    var numVers = ViewBag.numVers;
}

@*<center><h1><label class="text-danger" style="margin:10px">@ViewBag.Message</label></h1></center>*@
<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px" class="current"><a href="#0">Renseignements</a></li>
            <li style="right: 2px;  top: 12px;"><em>Siuation Géographique</em></li>
            <li style="right: 2px;"><em>GED</em></li>
            <li style="right: 2px;"><em>Programmation</em></li>
            <li style="right: 2px;"><em>Avis</em></li>
            <li style="right: 2px;"><em>Echanges</em></li>
            <li style="right: 2px;"><em>Autorisation</em></li>
            <li style="right: 2px;"><em>Cloture</em></li>
        </ol>
    </nav>
</section>

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        <div class="row" style="margin-bottom:10px">
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">N° de Dossier :</label>
                <input type="text" class="form-control" value="@Model.DemDerg.Code_DemDerg" name="Code_DemDerg" disabled>
            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Commune/Arrondissement :</label>
                @if (Model.DemDerg.COMMUNES_RSK == null)
                {<input type="text" class="form-control" value="Inconnue" id="communearrondissement" name="" disabled> }
                else
                {
                    <input type="text" class="form-control" value="@Model.DemDerg.COMMUNES_RSK.COMMUNE" id="communearrondissement" name="" disabled>
                }

            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Référence foncière :</label>
                @if (Model.DemDerg.References_Foncieres == null)
                {<input type="text" value="Inconnue" name="References_Foncieres" class="form-control" disabled> }
                else
                {<input type="text" value="@Model.DemDerg.References_Foncieres.NomRF" name="References_Foncieres" class="form-control" disabled>}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Date et heure de demande :</label>
                <input type="text" id="dateNow" value="@Model.DemDerg.Date_Arrivee_DemDerg" name="Date_Arrivee_DemDerg" class="form-control" readonly="readonly">
            </div>
        </div>
    </div>
</div>
@Html.Partial("WorkflowG",Model)

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        <div class="form-horizontal">
            @using (Html.BeginForm("Rensegnements_Fait", "WorkflowDerogation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @*<div class="row" style="margin-bottom:25px">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Réference fonciere : <label style="color:red">*</label></label>
                                <select class="form-control form-control-sm chzn-selec" id="selRef" name="Type_Terrain">
                                    <option value="">--- Sélectionner une réference fonciere ---</option>
                                    @foreach (var item in Model.References_Foncieres)
                                    {
                                        <option value="@item.Id_RF">@item.NomRF</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Préfecture :</label>
                                <select class="form-control form-control-sm chzn-selec" id="Prefectures" name="Prefecture">
                                    <option value="">-------- Sélectionner la préfecture : --------</option>
                                    @foreach (var item in Model.Provs)
                                    {
                                        <option value="@item.code_province">@item.nom_province</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputText11" style="font-size:12px;">Commune/Arrondissement :</label>
                                <select class="form-control form-control-sm chzn-selec" id="Arrondissements" name="CommuneArrondissement">
                                    <option value="">-------- Sélectionner la Commune/Arrondissement : --------</option>
                                    @foreach (var item in Model.Communes)
                                    {
                                        <option value="@item.code_commu" style="display:none">@item.nom_commun</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:25px">
                        <div class="col-sm-4">
                            <label for="inputText11" style="font-size:12px;">N° de Dossier :</label>
                            <input type="text" class="form-control" id="NumDossier" name="Code_DemDerg">
                        </div>
                        <div class="col-sm-4">
                            <label for="inputText11" style="font-size:12px;">N° de la version :</label>
                            <input type="text" class="form-control" value="@numVers" id="NumVers" name="NumVersion_DemDerog" readonly="readonly">
                        </div>
                        <div class="col-sm-4">
                            <label for="inputText11" style="font-size:12px;">Date et heure de demande :</label>
                            <input type="text" id="dateNow" value="@datenow" name="Date_Arrivee_DemDerg" class="form-control" readonly="readonly">
                        </div>

                    </div>*@
                <div class="row" style="margin-bottom:25px">
                    <div class="col-lg-12" style="position:center">
                        <label for="inputText11" style="font-size:12px;">Intitulé :</label>
                        <input type="text" class="form-control" id="intitule" value="" name="Intitule_DemDerg">
                    </div>
                </div>
                <br />
                <center><label style="font-weight: bold"><u>Informations sur le terrain à mobiliser</u></label></center><br />
                <div class="row" style="margin-bottom:25px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputText11" style="font-size:12px;">Nature demande :</label>
                            <select class="form-control form-control-sm" id="natDem" name="FK_DemDerg_Nature_Dem">
                                <option value="">-------- Sélectionner la nature de la demande --------</option>
                                @foreach (var item in Model.NatDemDerogs)
                                {
                                    <option value="@item.Id_NatureDemDerog">@Html.DisplayFor(modelItem => item.nature_Demande_Derogation)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Statut juridique :</label>
                        <select class="form-control form-control-sm chzn-selec" id="StatJurd" name="FK_DemDerg_StatutJuridique_DemDerg">
                            <option value="">-------- Sélectionner le Statut juridique --------</option>
                            @foreach (var item in Model.StatutJurds)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id_StatutJuridique_DemDerg)">@Html.DisplayFor(modelItem => item.StatutJuridique_DemDerg)</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">

                        <label for="inputText11" style="font-size:12px;">Superficie (m2) :</label>
                        <input type="text" class="form-control" id="superficie" value="" name="Superficie_Terrain_DemDerg">
                    </div>

                </div>
                <br />
                <center><label style="font-weight: bold"><u>Parties prenantes du projet</u></label></center><br />
                <div class="row" style="margin-bottom:25px">
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Maître d'ouvrage :</label>
                        <input type="text" class="form-control" id="maitreOuvrage" value="" name="Maitre_Oeuvrage_DemDerg">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Maître d'oeuvre :</label>
                        <input type="text" class="form-control" id="maitreOeuvre" value="" name="Maitre_Oeuvre_DemDerg">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Forme maître d'ouvrage :</label>
                        <select class="form-control form-control-sm chzn-selec" id="ForMOuvrg" name="FK_DemDerg_FormeMaitreOeuvrage_DemDerg">
                            <option value="">-------- Sélectionner la forme maître d'ouvrage --------</option>
                            @foreach (var item in Model.ForMaitreOeuvrages)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id_FormeMaitreOeuvrage_DemDerg)">@Html.DisplayFor(modelItem => item.FormeMaitreOeuvrage_DemDerg)</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <center><label style="font-weight: bold"><u>Informations sur le projet demandé</u></label></center><br />
                <div class="row" style="margin-bottom:25px">
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Nature de projet :</label>
                        <select class="form-control form-control-sm chzn-selec" id="NatPrj" name="FK_DemDerg_Nature_Projet_DemDerg">
                            <option value="">-------- Sélectionner la nature de projet --------</option>
                            @foreach (var item in Model.NatPrjDerogs)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id_Nature_Projet_DemDerg)">@Html.DisplayFor(modelItem => item.Nature_Projet_DemDerg1)</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Montant d'investissement :</label>
                        <input type="text" class="form-control" id="montantInvest" value="" name="Montant_Investissement_DemDerg">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Dérogation demandée :</label>
                        <input type="text" class="form-control" id="derogationDem" value="" name="Dero_demande_DemDerg">
                    </div>
                </div>
                <div class="row" style="margin-bottom:25px">
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Localisation du projet :</label>
                        <input type="text" class="form-control" id="localisationPrj" value="" name="Adresse_DemDerg">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Emplois induits :</label>
                        <input type="text" class="form-control" id="emploisInd" value="" name="Emploi_generer_DemDerg">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Durée de réalisation :</label>
                        <input type="text" class="form-control" id="dureeReal" value="" name="Duree_realisation_DemDerg">
                    </div>
                </div>
                <div class="row" style="margin-bottom:25px">
                    <div class="col-sm-4">
                        <label for="inputText11" style="font-size:12px;">Consistance :</label>
                        <input type="text" class="form-control" id="contribution" value="" name="Contribution_Projet_DemDerg">
                    </div>
                </div>
                <br />
                <center><label style="font-weight: bold"><u>Informations sur les ratios</u></label></center><br />
                <div class="row" style="margin-bottom:25px">

                    <div class="col-sm-3">
                        <label for="inputText11" style="font-size:12px;">Ratio Résidentiel :</label>
                        <input type="text" class="form-control" id="ratioResid" value="" name="Ratio_resid_DemDerg">
                    </div>

                    <div class="col-sm-3">
                        <label for="inputText11" style="font-size:12px;">Ratio Social :</label>
                        <input type="text" class="form-control" id="ratioSoc" value="" name="Ratio_Social_DemDerg">
                    </div>

                    <div class="col-sm-3">
                        <label for="inputText11" style="font-size:12px;">Ratio Touristique :</label>
                        <input type="text" class="form-control" id="ratioTour" value="" name="Ratio_touris_DemDerg">
                    </div>

                    <div class="col-sm-3">
                        <label for="inputText11" style="font-size:12px;">Ratio Industriel :</label>
                        <input type="text" class="form-control" id="rationInd" value="" name="Ratio_indus_DemDerg">
                    </div>

                </div>
                <br /><br />
                <center class="fixed-bottom">
                    @Html.HiddenFor(p=>p.DemDerg.Id_DemDerg)
                    <button type="submit" class="btn btn-lg" value="0" name="enregistrer" id="btnSave" style="background-color:#09aacc; color:white">
                        Enregister   <i class="fa fa-level-down-alt"></i>
                    </button>
                    <button type="submit" class="btn btn-lg" value="1" name="enregistrer" id="btnsend" style="background-color:#09aacc; color:white">
                        Passer à l'etape suivante  <i class="fa fa-paper-plane"></i>
                    </button>
                </center>

            }

        </div>
    </div>
</div>
<script>
    //setInterval(function () {
    //    var date = new Date();
    //    var format = "YYYY-MMM-DD DDD";
    //    dateConvert(date, format)
    //}, 1);

    //function dateConvert(dateobj, format) {
    //    var year = dateobj.getFullYear();
    //    var month = ("0" + (dateobj.getMonth() + 1)).slice(-2);
    //    var date = ("0" + dateobj.getDate()).slice(-2);
    //    var hours = ("0" + dateobj.getHours()).slice(-2);
    //    var minutes = ("0" + dateobj.getMinutes()).slice(-2);
    //    var seconds = ("0" + dateobj.getSeconds()).slice(-2);
    //    var day = dateobj.getDay();
    //    var months = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];
    //    var converted_date = "";

    //    switch (format) {
    //        case "YYYY-MM-DD":
    //            converted_date = year + "-" + month + "-" + date;
    //            break;
    //        case "YYYY-MMM-DD DDD":
    //            converted_date = year + "-" + months[parseInt(month) - 1] + "-" + date
    //                + " " + hours + ":" + minutes+ ":" + seconds;
    //            break;
    //    }
    //    $('#dateNow').val(converted_date);
    //};
    $('#Prefectures').change(function () {

        var e = document.getElementById("Prefectures");
        var choix = e.options[e.selectedIndex].value;
        var Pref = $(this).val();
        var com = $("#Arrondissements > option");
        $("#Arrondissements")[0].selectedIndex = 0;
        for (var i = 0; i < com.length; i++) {
            if (com[i].getAttribute("value").includes(Pref)) {
                com[i].style.display = "block";
            }
            else {
                com[i].style.display = "none";
            }
        }
        $('#Arrondissements').trigger("liszt:updated");

    });
</script>
