@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "SituationGeo";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
    bool Lire = ViewBag.Read; bool NLire = !Lire;
    bool Cree = ViewBag.Create; bool NCree = !Cree;
    bool Modifier = ViewBag.Update; bool NModifier = !Modifier;
    bool Supprimer = ViewBag.Delete; bool NSupprimer = !Supprimer;
}

<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="current"><a href="#0">Siuation Géographique</a></li>
            <li style="right: 2px;"><em>GED</em></li>
            <li style="right: 2px;"><em>Programmation</em></li>
            <li style="right: 2px;"><em>Avis</em></li>
            <li style="right: 2px;"><em>Echanges</em></li>
            <li style="right: 2px;"><em>Autorisation</em></li>
            <li style="right: 2px;"><em>Cloture</em></li>
        </ol>
    </nav>
</section>

<link rel="stylesheet" href="https://js.arcgis.com/3.32/dijit/themes/nihilo/nihilo.css">

@using GestionnaireUtilisateurs.Controllers
@{
    Html.RenderAction("Indicators", "WorkflowDerogation", new { Tache = WorkflowDerogationController._SitGeo });
}

@if (Lire)
{
    @Html.Partial("WorkflowG", Model)
    <link rel="stylesheet" href="http://localhost/arcgis_js_api/library/3.27/3.27/esri/css/esri.css">

    <div class="form-horizontal">
        <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
            <h5 class="card-header">Saisie des coordonnées</h5>
            <div class="card-body">

                <div class="form-group">
                    <dic class="row">
                        <div class="col-sm-6">
                            <input type="number" id="xx" autocomplete="off" class="form-control" placeholder="Coord. X" value="200" style="margin-bottom:10px">

                            <input type="number" id="yy" autocomplete="off" class="form-control" placeholder="Coord. Y" value="250" data-target="Entrer Y">
                            <br />
                            <button class="btn btn-space btn-primary" type="button" style="position:absolute;right:10px" id="addCoord" name="enregistrer">Ajouter coordonnées</button>
                            <br /><br /><br />
                        </div>
                        <div class="col-lg-6">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first">
                                    <thead>
                                        <tr>
                                            <th>Points</th>
                                            <th>Coordonnées : X</th>
                                            <th>Coordonnées : Y</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyCoord" style="max-height:250px"></tbody>
                                </table>
                            </div>
                            <input id="vider" class="btn btn-space btn-primary" type="button" value="Vider" />
                        </div>
                    </dic>


                </div>
            </div>
        </div>
        <div class="card card-body nihilo" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc;">
            <h5 class="card-header">Carte</h5>
            <div id="info">
                @*<div>Select a shape then draw on map to add graphic</div>
                <button id="Point">Point</button>
                <button id="Multipoint">Multipoint</button>
                <button id="Line">Line</button>
                <button id="Polyline">Polyline</button>
                <button id="FreehandPolyline">Freehand Polyline</button>
                <button id="Triangle">Triangle</button>
                <button id="Extent">Rectangle</button>
                <button id="Circle">Circle</button>
                <button id="Ellipse">Ellipse</button>
                <button id="FreehandPolygon">Freehand Polygon</button>*@
                <button id="Polygon">Polygon</button>
            </div>
            <div id="map" style="height:600px;" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
            </div>

        </div>
        <br />
        <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
            <h5 class="card-header">Couverture en documents d'urbanisme</h5>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inputText11" style="font-size:12px;">Couverture : </label>
                            <select class="form-control form-control-sm chzn-selec" id="selRef" name="Type_Terrain">
                                @*<option value="">--- Sélectionner une réference fonciere ---</option>*@
                                @foreach (var item in Model.References_Foncieres@*.OrderByDescending(i=>i.Id_RF)*@)
                                {
                                    <option value="@item.Id_RF">@item.NomRF</option>
                                }
                            </select>
                            <br /><input class="form-control" type="text" placeholder="Numero fincier" id="numfonc" />
                            <br /><input class="form-control" type="text" placeholder="Indice" id="indice" />
                            <br /><input class="form-control" type="text" placeholder="Fraction" id="fraction" />
                            <br /><input class="form-control" type="text" placeholder="Complement" id="complement" />
                            <br />
                            <button class="btn btn-space btn-primary" type="button" style="position:absolute;right:10px" id="alimBD">Ajouter coordonnées</button>
                            <br /><br /><br />
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <label for="inputText11" style="font-size:12px;"></label>
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>Couverture</th>
                                        <th>Détail</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyCouverture"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br /><br />

                <div class="row">
                    @using (Html.BeginForm("SituationGeo", "WorkflowDerogation", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <center>
                            <p class="fixed-bottom">
                                <input type="hidden" name="Id_DemDerg" value="@Model.DemDerg.Id_DemDerg" />
                                <button type="submit" class="btn btn-lg buttonsReapeateds" value="0" name="enregistrer" id="btnSave">
                                    Enregister   <i class="fa fa-level-down-alt"></i>
                                </button>
                                @*<button type="submit" class="btn btn-lg buttonsReapeateds" value="1" name="enregistrer" id="btnsend">
                                        Passer à l'etape suivante  <i class="fa fa-paper-plane"></i>
                                    </button>*@
                                <a onclick="passClicked(this)" class="btn btn-lg buttonsReapeateds" value="1" name="enregistrer" id="btnsend">
                                    Passer à l'etape suivante  <i class="fa fa-paper-plane"></i>
                                </a>
                            </p>
                        </center>
                    }
                </div>
                <br />@Html.ActionLink("Retour a la liste des demandes", "Encours")<br />
            </div>
        </div>

    </div>

    @section Scripts{
        <script src="http://localhost/arcgis_js_api/library/3.27/3.27/init.js"></script>
        <script src="~/Content/mapApi.js"></script>
        <script>
            function passClicked(a) {
                if (confirm('Voulez Vous Vraiment passer a L\'etape suivante ??')) {
                    var input = document.createElement('input');
                    input.setAttribute('type','hidden');
                    input.setAttribute('name','enregistrer');
                    input.setAttribute('value', '1');
                    a.parentNode.appendChild(input);
                    console.log(a.closest('form'));
                    a.closest('form').submit();
                }
            }
        </script>

        @*<script src="https://js.arcgis.com/3.27/"></script>
            <script>
                    require(["esri/map", "dojo/domReady!"], function (Map) {
                        var map = new Map("map", {
                            center: [-7.33, 33.5],
                            zoom: 11,
                            basemap: "topo"
                        });
                    });
                </script>*@


    }
}
else
{
    <div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
        <div class="card-body">
            <center>
                <label class="text-danger">
                    <span>
                        <i class="fa fa-accessible-icon"></i>
                        <strong>
                            Vous n'avez pas le droit d'afficher cette information
                        </strong>
                    </span>
                </label>
            </center>
            <br />@Html.ActionLink("Retour a la liste des demandes", "Encours")<br />
        </div>
    </div>
}

