@model IEnumerable<GestionnaireUtilisateurs.Models.AspNetUserRoles>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspNetUserRoles</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Read)
            </dt>


            <dd>
                @Html.EditorFor(model => item.Read)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Create)
            </dt>

            <dd>
                @Html.EditorFor(model => item.Create)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Update)
            </dt>

            <dd>
                @Html.EditorFor(model => item.Update)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Delete)
            </dt>

            <dd>
                @Html.EditorFor(model => item.Delete)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.AspNetRoles.Name)
            </dt>

            <dd>
                @Html.EditorFor(model => item.AspNetRoles.Name)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </dt>

            <dd>
                @Html.EditorFor(model => item.AspNetUsers.UserName)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
